@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Rajdhani:wght@300&display=swap');

html{
    box-sizing: border-box;
}
   
*, *:before, *:after{
    box-sizing: inherit;
}

.content {
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.header img {
    width: 70%;
    margin: 15px;
}

header a {
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    color: #3a3a3a;
    font-size: 120%;
    grid-column: 2;
    text-align: right;
    padding: 30px;
    font-weight: bold;
}

nav {
    background-color: #3a3a3a;
    padding: 5px 0px;
    margin: 0px;
}

nav ul {
    display: flex;
    padding: 0px 10px;
}

nav a, nav li {
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 2px;
    font-family: 'Orbitron', sans-serif;
    list-style-type: none;
}

h1, h2 {
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
}

form, .vehicleLinks, .vehicleLinks a:visited {
    width:50%;
	margin: 0 auto;
	padding: 12px 25px;
    border: 3px solid #868686;
    border-radius: 8px;
    background-color: #224058;
    color: white;
    line-height: 25px;
    font-family: 'Orbitron', sans-serif;
}

form a {
    color: white;
}

table {
    width:200px;
	margin: 0 auto;
	padding: 12px 25px;
    border-radius: 8px;
    color: black;
    line-height: 25px;
    font-family: 'Orbitron', sans-serif;
}

button {
    margin: 15px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Orbitron', sans-serif;
}

input:placeholder-shown {
    border-color: red;
  }

  hr {
    width: 100%;
    border-color:black;
}

footer {
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#inv-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
   
#inv-display li{
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
}
   
#inv-display li img {
    max-width: 100%;
}

.vehicleInfo {
    margin: 10px;
    font-family: 'Rajdhani', sans-serif;
}

.vehicleInfo img {
    width: 100%;
}

@media screen and (min-width: 740px) {
    body {
        background-image: url(../images/site/small_check.jpg);
    }
    
    .content {
        width: 75%;
        margin: 20px auto;
        background-color: white;
        border-radius: 8px;
        border: 5px solid #4c96d7;
    }

    .header img {
        width: 200px;
    }

    .header a {
        font-size: 20px;
    }

    nav {
        padding: 5px;
    }

    nav a {
        font-size: 20px;
        padding: 5px;
    }

    nav a:hover {
        background-color: #4c96d7;
        padding-top: 35px;
        padding-bottom: 35px;
        color: black;
    }

    form {
        width: 400px;
    }

    /* For vehicle display in classification view */
	#inv-display {
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	#inv-display h2{
		font-size: 1rem;
	}

	#inv-display li {
		max-width: 200px;
		flex: 1 0 auto;
		text-align: center;
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
      
	#inv-display div {
		width: 100%;
	}

    .vehicleInfo {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        height: 50%;
        gap: 10px;
    }
    
    .vehicleInfo img {
        grid-column: 1;
        grid-row: 1/4;
    }
    
    .vehicleInfo p, .vehicleInfo span{
        grid-column: 2;
        font-weight: 300;
    }
    
    .vehicleInfo .stock {
        grid-row: 1;
    }
    
    .vehicleInfo .color {
        grid-row: 2;
    }
    
    .vehicleInfo .description {
        grid-row: 4;
    }
    
    .vehicleInfo span {
        grid-row: 3;
    }

}